.actions__list {
    margin: 20px 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}

.actions__item {
    border-bottom: 4px solid transparent;
}

@media (max-width: 992px) {
    .actions__item {
        display: flex;
        flex-wrap: wrap;
    }

    .actions__description-block {
        order: -1;
        flex-grow: 2;
        width: 100%;
    }

    .actions__date--block {
        flex-grow: 2;
    }
}

@media (max-width: 550px) {
    .actions__shop-block {
        flex-grow: 2;
        width: calc(100% - 173px);
        margin-right: 3px;
    }
}

.actions__shop {
    height: 100%;
    min-height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    box-shadow: 0px 1px 0px 0px #e4e5eb;
    border-radius: 4px 0px 0px 4px;
    font-size: 13px;
    font-weight: 700;
    color: var(--blue);
    text-decoration: none;
    background: var(--white);
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .actions__shop {
        border-radius: 0px 0px 0px 4px;
        width: 160px;
    }
}

@media (max-width: 550px) {
    .actions__shop {
        width: 100%;
    }
}

.actions__description,
.actions__date {
    padding: 4px 10px;
    min-height: 32px;
    vertical-align: middle;
    box-shadow: 0px 1px 0px 0px #e4e5eb;
    font-size: 13px;
    font-weight: 500;
    color: var(--dark-gray);
    background: var(--white);
    display: flex;
    align-items: center;
}

.actions__date {
    //white-space: nowrap;
}

@media (max-width: 992px) {
    .actions__description {
        border-radius: 4px 4px 0 0;
    }
}

@media (max-width: 550px) {
    .actions__date {
        display: none;
    }
}

.actions__link {
    height: 100%;
    min-height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    box-shadow: 0px 1px 0px 0px #e79f00;
    border-radius: 0px 4px 4px 0px;
    font-size: 13px;
    font-weight: 600;
    color: var(--dark-gray);
    text-decoration: none;
    background: var(--yellow);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .actions__link {
        border-radius: 0px 0px 4px 0px;
        width: 140px;
        text-align: center;
    }
}

.actions__footnote {
    margin: 0;
    padding: 0 0 20px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: var(--blue);
}
